#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE 0
#define NUM 1


/ {
    keymap {
        compatible = "zmk,keymap";
        BASE_layer {
            bindings = <
//    ┌─────────┬────────┬─────────┬──────────┬──────────────┐           ┌───┬──────────┬─────────┬────────┬─────────┐
//    │    Q    │   W    │    F    │    P     │      B       │           │ J │    L     │    U    │   Y    │    '    │
//    ├─────────┼────────┼─────────┼──────────┼──────────────┤           ├───┼──────────┼─────────┼────────┼─────────┤
//    │ LMETA A │ LALT R │ LCTRL S │ LSHIFT T │      G       │           │ M │ RSHIFT N │ RCTRL E │ RALT I │ RMETA O │
//    ├─────────┼────────┼─────────┼──────────┼──────────────┤           ├───┼──────────┼─────────┼────────┼─────────┤
//    │    Z    │   X    │    C    │    D     │      V       │           │ K │    H     │    ,    │   .    │    /    │
//    └─────────┴────────┴─────────┼──────────┼──────────────┼───┐   ┌───┼───┼──────────┼─────────┴────────┴─────────┘
//                                 │    ⌦     │ &lt NUM BSPC │ ⏎ │   │ ⭾ │ ‿ │   Esc    │                             
//                                 └──────────┴──────────────┴───┘   └───┴───┴──────────┘                             
  &kp Q         &kp W        &kp F         &kp P          &kp B                                  &kp J       &kp L          &kp U         &kp Y        &kp SQT    
  &mt LMETA A   &mt LALT R   &mt LCTRL S   &mt LSHIFT T   &kp G                                  &kp M       &mt RSHIFT N   &mt RCTRL E   &mt RALT I   &mt RMETA O
  &kp Z         &kp X        &kp C         &kp D          &kp V                                  &kp K       &kp H          &kp COMMA     &kp DOT      &kp FSLH   
                                           &kp DEL        &lt NUM BSPC   &kp RET       &kp TAB   &kp SPACE   &kp ESC                                              
            >;
        };

        NUM_layer {
            bindings = <
//    ┌───────────┬──────────┬───────────┬────────────┬───┐           ┌───────────┬───────────┬───────────┬───────────┬───┐
//    │           │          │           │            │   │           │           │ &kp KP_N7 │ &kp KP_N8 │ &kp KP_N9 │   │
//    ├───────────┼──────────┼───────────┼────────────┼───┤           ├───────────┼───────────┼───────────┼───────────┼───┤
//    │ &kp LMETA │ &kp LALT │ &kp LCTRL │ &kp LSHIFT │   │           │ &kp KP_N0 │ &kp KP_N4 │ &kp KP_N5 │ &kp KP_N6 │   │
//    ├───────────┼──────────┼───────────┼────────────┼───┤           ├───────────┼───────────┼───────────┼───────────┼───┤
//    │           │          │           │            │   │           │           │ &kp KP_N1 │ &kp KP_N2 │ &kp KP_N3 │   │
//    └───────────┴──────────┴───────────┼────────────┼───┼───┐   ┌───┼───────────┼───────────┼───────────┴───────────┴───┘
//                                       │            │   │   │   │   │           │           │                            
//                                       └────────────┴───┴───┘   └───┴───────────┴───────────┘                            
  &none       &none      &none       &none        &none                       &none       &kp KP_N7   &kp KP_N8   &kp KP_N9   &none
  &kp LMETA   &kp LALT   &kp LCTRL   &kp LSHIFT   &none                       &kp KP_N0   &kp KP_N4   &kp KP_N5   &kp KP_N6   &none
  &none       &none      &none       &none        &none                       &none       &kp KP_N1   &kp KP_N2   &kp KP_N3   &none
                                     &none        &none   &none       &none   &none       &none                                    
            >;
        };
    };
};
