#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
  &trans   &kp Q   &kp W   &kp F   &kp P     &kp B                              &kp J       &kp L     &kp U       &kp Y     &kp SQT    &trans
  &trans   &kp A   &kp R   &kp S   &kp T     &kp G                              &kp M       &kp N     &kp E       &kp I     &kp O      &trans
  &trans   &kp Z   &kp X   &kp C   &kp D     &kp V                              &kp K       &kp H     &kp COMMA   &kp DOT   &kp FSLH   &trans
                                   &kp DEL   &kp BSPC   &kp RET       &kp TAB   &kp SPACE   &kp ESC                                          
            >;
        };
    };
};
